
*{
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: linear-gradient(0deg, #d9e9f7, #cdd1e4);
 
 }







 
.container {
  max-width: 2000px;
  margin: 0 auto;
  POSITION: ABSOLUT
}
header {
  padding: 20px;
  background-color: #edebf1;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  position: fixed;
  display: flex;
  justify-content: space-between;
   align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo {
  float: left;
  font-size: 24px;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  display: inline-block;
  padding: 0 10px;
  color: #000000;
  text-decoration: none;
  transition: color .3s ease;
}

nav a:hover
 {
  background-color: #bfd6df;
  padding: 7px;
  cursor: pointer;
}

.active {
 background-color: #8b83ad;
 padding: 7px;
 color: #000000;
}


.social-links {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
  margin: 10px;
 
}

.social-links a {
  color: #ffffff;
  font-size: 1.5rem;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  box-sizing: border-box;
  border-radius: 50%;
  text-decoration:none;
    box-shadow: 0 8px 12px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #422e66, #63c2f1);
    transition: .5s;
  
}

.social-links a:hover {
  color: #000000;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  nav {
    margin-top: 20px;
  }
}

 section {
  
  padding: 10px 0;
  text-align: center;
 }



 h2 {
  font-size: 36px;
  margin-bottom: 50px;
  
 

 }

 ul {
  margin: 0;
  padding: 0;
  list-style: none;
 }
 ul li {
  display: inline-block;
  margin-right: 20px;
 }
 ul li a {
  display: block;
  width: 200px;
  height: 200px;
  background-color: #fff;
  line-height: 200px;
  color: #000;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border-radius: 50%;
  transition: box-shadow .3s ease;
 }
 ul li a:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
 }

 .about-me {
  padding: 100px 0;
  text-align: center;
  
}



.about-me h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36 px;
  margin-bottom: 40px;
  color: #3d0f68;
  
}
hr {
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
  border: 0;
  height: 2px;
  margin: 22px 0 22px 0;box-sizing:
  content-box;
  display: block;
  }

.about-me-content {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-content img {
  margin-right: 80px;
  width: 300px;
}

.about-me-text h1 {
  font-size: 24px;
  color: #3d0f68;
  margin-top: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.about-me-text h2 {
  font-size: 20px;
  margin-top: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.about-me-text p {
  font-size: 18px;
  color: #000000;
  line-height: 1;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
 
}


.education {
  
  background-size: 1500%;
  background-color: #f5f2f7;
  border-top: 5px solid #8b83ad;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}
 
.education__item {
  
  width: 250px;
  margin: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  
}
.education__arrow {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.education__arrow i {
  width: 30px;
  height: 30px;
}
.education h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}
.education p {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}


.achievements {
  color: #2e0b4e;
  background-color: #f5f2f7;
  padding: 10px;
}

.achievements h2 {
  text-align: center;
  font-size: 39px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}

.certificates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.certificate {
  
  background-color: #f5f2f7;
  width: 300px;
  margin: 20px;
  text-align: center;
  
}

.certificate img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  
}

.certificate p {
  font-size: 18px;
  margin: 0;
  
}

.but_for_tab {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
 color: #ffffff;
 background: linear-gradient(90deg, hsl(273, 36%, 46%), #2b1fd8);
  border-radius: 10px;
  cursor: pointer;
}
.hidden_block {
  display: none;
}
.visible_block .certificate {
  
  width: 300px;
  margin: 20px;
  text-align: center;
}
.certificates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.certificate {
  width: 300px;
  margin: 20px;
  text-align: center;
}

.certificate img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.certificate p {
  font-size: 18px;
  margin: 0;
}







.header {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  margin-top: 5%;
  font-family: 'Open Sans', sans-serif;
 }
 .header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  
 }
 .content {
  color: #23083a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin-left: 250px;
  margin-right: 250px;
 }
 .block {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
 }
 .block h2 {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
 }
 .block p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
 }
 .block a {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(90deg, hsl(273, 36%, 46%), #2b1fd8);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s;
 }
 .block a:hover {
  background-color: #a9a8eb;
 }

















 @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
 
}

.container {
 
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: 1500px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 150px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}


.card-body p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin: 0 0 40px;
}




#feedback {
  margin-top: 10%;
  margin-bottom: 5%;
}

.screen {
  position: relative;
  background: #cdc0ec;
  border-radius: 15px;
  width: 70%;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #8f7aaa;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
 
  display: flex;
  flex-direction: column;
  position: relative;
  color: #020202;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 13px;
  color: #888;

}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;

}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}


.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}







footer {
  background-color: #979cc7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  height: 50px;
}

.links a {
  margin-right: 20px;
  color: #070707;
  text-decoration: none;
  justify-content: space-between;
  font-size: 18px;
}
.links a:hover {
  text-decoration: underline;
}




::-webkit-scrollbar{
  display: none;
}












